@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {

  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

a{
  text-decoration: none;
  color:black
}
.footer,
.header{
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-content: flex-start;
  justify-content: space-between;
  font-size: 25px;
}


.header{
  left:0;
  top: 0;
  margin: 0px;
  height: 5%;
  width: 100%;


}

.footer{
  position: fixed;
  background-color: lightgray;
  left:0;
  bottom: 0;
  margin: 0px;
  height: 5%;
  width: 100%;

  
}

.header > ul,
.footer > ul{
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 0px;
  list-style-type: none;
}


.header > ul > li,
.footer > ul > li{
  margin: 10px;
  display: inline;

}


.content{
  display: flex;
  align-items: center;
  flex-direction: column;

  position: absolute;
  top: 30%;
  right: 0;
  bottom: 50%;
  left: 0;
  margin: auto;

  
}

.content > img,
.content > .buttons,
.content > .input{
}



.left-links{
}
.right-links{
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}
